<h1>
  {{title}}
</h1>

<ul >
  <li *ngFor="let toDoLists of toDoList">
    {{toDoLists.id}}: {{toDoLists.name}} - 
    
    <button *ngIf="!toDoLists.done" (click)="markAsDone(toDoLists)">Concluir</button>
    <button *ngIf="toDoLists.done" (click)="markAsUndone(toDoLists)">Refazer</button>
    <button (click)="remove(toDoLists)">Remover</button>
  </li>
</ul>

<form [formGroup]="form">
  <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title"><br>
  <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
    Este campo deve conter entre 3 e 60 caracteres
  </small>
  <br> 
  <button [disabled]="form.invalid" (click)="add()">Salva</button>
</form>